#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Welcome to the administration dashboard for "You Don't Know History." Click Phrases in the top menu to add or edit phrases.

-content_for :sidebar, partial("base/sidebar")
