.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:phrases, :index)
      %li.active=link_to pat(:new), url(:phrases, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:phrase)
    .inner
      -form_for :phrase, url(:phrases, :create), :class => :form do |f|
        =partial "phrases/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
